.content {
    .mainInfo {
        h3 {
            font-size: 24px;
            margin-bottom: 0px;
        }
        h5 {
            margin-top: 0px;
            font-size: 20px;
            font-weight: 500;
        }
    }

    padding: 40px;
    padding-top: 20px;

    h4 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 22px;
    }

    li {
        font-size: 18px;
    }
}