.content{
    padding: 40px;
    padding-top: 20px;
    h2{
    margin: 0px;
    margin-top: 20px;
    font-size: 26px;
    }
    h4{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 22px;
    }
    li{
        font-size: 18px;
    }
}