.searchBlock {
    border: 1px solid #BC8F8F;
    border-radius: 10px;
    padding: 0 15px;
    position: relative;

    input {
        background: azure;
        border: 0;
        padding: 15px;
        font-size: 16px;
    }

    .clear {
        position: absolute;
        right: 15px;
        width: 18px;
        height: 18px;
        top: 13px;
    }

    img {
        align-content: center;
        vertical-align: middle;
    }
}

.content {
    h1 {
        margin: 0;
    }
    padding: 40px;
}